<a href="https://colab.research.google.com/github/007khun159/Python_ai_01/blob/main/Bassic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Bassic   

x = 3 
y = 3.6
z = "I am Learing python"
print(x)
print(y)
print(z)

3
3.6
I am Learing python

In [2]:
x =3 
y= 5 
z= 2 
print(x*y**z+x)

78

In [13]:
x = list(range(70,0,-5))
print(len(x))
print(x)
j = x[5]
print(j)

14
[70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
45

In [27]:
N = float( input("Enter Int : ") )
for i in range( 0, 5 ):
  N = 0.5*N
  print(N)
print( N )

Enter Int : 2000
1000.0
500.0
250.0
125.0
62.5
62.5

In [23]:
class Person :
  def __init__(self, name , age):
    self.name = name
    self.age = age


  def myfunc(self):
    print("Hello" , self.name)

  def newage(self):
    print("Your new age is " , self.age + 20)

p1 = Person("james",21)
p1.myfunc()
p1.newage()

Hello james
Your new age is  41